.tweet {
  background: lightblue;
  h2 {
    color: red;
  }
  button {
    background: white;
    border: 2px solid black;
  }
}

.App {
  background-color: lightgreen;
  h1 {
    color: lightsalmon;
  }
}
